{% extends 'base.html' %}
{% load staticfiles %}
{% load js %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>

  <!--   <link href='{% static "js/test.js" %}' rel="stylesheet"> -->
  <!--<link rel="stylesheet" href="/static/css/style.css">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</script>  
</head>
<body>
  {% block content %}
  <h4>Registering beers on the fleet. <br />(Populate one drop down based on selection in another)</h4>
  <p>Change the contents of drop down beer based on the selection in dropdown Brand, using Django-forms + Javascritp</p>
  <div class="select-style">
    <form action="." method="post">
      {% csrf_token %}
      {{ beer_form.as_p }}
      <p><input type="submit" value="Register a car"></p>
    </form>
  </div>
  {% endblock %}

  {% block js %}
  {% include "js1.html" %}
  {% endblock %}
</body>
</html>